<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>verify framework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc65a6">  <td>16/09/18 12:18:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeBaseClass(java.lang.String, java.lang.String)[pri:0, instance:sandbox.AppTest@2d8f65a4]">&gt;&gt;beforeBaseClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263025902</td>   <td></td> </tr>
<tr bgcolor="e69ade">  <td>16/09/18 12:18:41</td>   <td>4450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.verify_framework_works_correctly()[pri:0, instance:sandbox.AppTest@2d8f65a4]">verify_framework_works_correctly</td> 
  <td>main@263025902</td>   <td></td> </tr>
</table>
