<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>api.VerifyLocationAPI</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>API18_GET_location_detail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API20_GET_device_assigned_to_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API28_POST_add_new_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API24_POST_Associate_microlocation_with_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API16_GET_users_associate_with_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API21_DELETE_remove_devices_from_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API23_DELETE_remove_microlocation_from_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API25_POST_Add_a_device_to_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API22_GET_retrieve_microlocation_assigned_to_location</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API19_GET_location_detail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>API17_POST_add_user_to_location</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeBaseMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
