<h2>Methods that were not run</h2><table>
<tr><td>api.VerifyLocationAPI.API21_DELETE_remove_devices_from_location</td></tr>
<tr><td>api.VerifyLocationAPI.API24_POST_Associate_microlocation_with_location</td></tr>
<tr><td>api.VerifyLocationAPI.API23_DELETE_remove_microlocation_from_location</td></tr>
<tr><td>api.VerifyLocationAPI.API22_GET_retrieve_microlocation_assigned_to_location</td></tr>
<tr><td>api.VerifyLocationAPI.API20_GET_device_assigned_to_location</td></tr>
</table>