<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:21:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:21:56</td>   <td>205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:02</td>   <td>5368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API28_POST_add_new_location()[pri:1, instance:api.VerifyLocationAPI@5700d6b1]">API28_POST_add_new_location</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:22:03</td>   <td>7111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:03</td>   <td>7111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:05</td>   <td>8800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API18_GET_location_detail()[pri:2, instance:api.VerifyLocationAPI@5700d6b1]">API18_GET_location_detail</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:22:12</td>   <td>16006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:12</td>   <td>16007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:14</td>   <td>18064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API19_GET_location_detail()[pri:3, instance:api.VerifyLocationAPI@5700d6b1]">API19_GET_location_detail</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:22:20</td>   <td>23595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:20</td>   <td>23595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:21</td>   <td>25137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API17_POST_add_user_to_location()[pri:4, instance:api.VerifyLocationAPI@5700d6b1]">API17_POST_add_user_to_location</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:22:23</td>   <td>26672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:23</td>   <td>26672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:24</td>   <td>28200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API16_GET_users_associate_with_location()[pri:5, instance:api.VerifyLocationAPI@5700d6b1]">API16_GET_users_associate_with_location</td> 
  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="fa7d9b">  <td>16/10/17 22:22:30</td>   <td>33752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITestBase.beforeBaseMethod(java.lang.reflect.Method)[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeBaseMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:30</td>   <td>33752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyLocationAPI.beforeMethod()[pri:0, instance:api.VerifyLocationAPI@5700d6b1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>16/10/17 22:22:33</td>   <td>36494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyLocationAPI.API25_POST_Add_a_device_to_location()[pri:6, instance:api.VerifyLocationAPI@5700d6b1]">API25_POST_Add_a_device_to_location</td> 
  <td>main@909295153</td>   <td></td> </tr>
</table>
