<h2>Reporter output</h2><table><tr><td>Verify Status of Adding new location Expected: 200 || Actual: 405</td></tr>
<tr><td>Verify Response Code of adding user to location Expected: 200 || Actual: 500</td></tr>
<tr><td>Verify Status code of adding device to location Expected: 200 || Actual: 500</td></tr>
</table>